.sidebar-wrraper{
    width:100%;
    .sidebar-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;

        .cross-icon{
            fill:orange;
            font-size: 20px;
            padding-left: 20px;
        }
        .sidebar-logo{
            .sidebar-logo_image{
                height: 50px;
                width: 100px;
                padding-left: 40px;
            }
        }
    }
}