@media screen and (max-width :1900px) {
    .cover-overlay{
        width: 565px;
    }
    
}
@media screen and (max-width :1800px) {
    .cover-overlay{
        width: 505px;
    }
    
}
@media screen and (max-width :1600px) {
    .cover-overlay{
        width: 464px;
    }
    
}
@media screen and (max-width :1500px) {
    .cover-overlay{
        width: 434px;
    }
    
}
@media screen and (max-width :1400px) {
    .cover-overlay{
        width: 404px;
    }
    
}
@media screen and (max-width :1300px) {
    .cover-overlay{
        width: 347px;
    }
    
}
@media screen and (max-width :1100px) {
    .cover-overlay{
        width: 304px;
    }
    
}
@media screen and (max-width:1045px){
    .property-details{
        .property--details{
            height: 476px;
            .images{
                .property-img{
                    height: 257px;
                }
            }
        .icons--section{
            display: block;
            .icons{
                margin-bottom: 10px;
            }
            .property-apt{
                padding-left: 13px;
                margin-bottom: 10px;
            }
        }
    }
    }
}
@media screen and (max-width:990px) {
    .property-details{
        .property--details{
            height: 460px;
            .images{
                .property-img{
                    height: 270px;
                }
            }
}
    }
    .cover-overlay{
        width: 642px;
        height: 270px;
    }
}
@media screen and (max-width:980px) and (min-width:768px){
    .container{
        padding: 0 20px;
    }
    .property-details{
        flex-wrap: wrap;
        justify-content: left;
        .property--details{
            height: 435px;
            width:44%;
            .images{
                .property-img{
                    height: 242px;
                }
            }
}
    }
   

}
@media  screen and (max-width:768px) and (min-width:730px){
    .container{
        padding: 0 20px;
    }
    .property-details{
        flex-wrap: wrap;
        justify-content: left;
        .property--details{
            width:44%;
        }
    }
    .cover-overlay{
        width: 311px;
        height: 268px;
    }
    
}
@media screen and (max-width:740px) and (min-width:520px){
    .container{
        padding: 0px;
        .property-details{
            display: block;
            padding:0 10px;
            .property--details{
                width:95%;
            }
        }
    }
    .property-header{
        font-size: 12px;
    }
    .cover-overlay{
        width: 528px;
        height: 270px;
    }
}
@media screen and (max-width:520px){

    .container{
        padding: 0px;
        .property-details{
            display: block;
            padding:0 10px;
            .property--details{
                width:92%;
            }
        }
    }
    .property-header{
        font-size: 12px;
    }
    .cover-overlay{
        width: 452px;
        height: 270px;
    }
}
@media screen and (max-width:520px){
    .cover-overlay{
        width: 379px;
        height: 270px;
    }
}