.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;

    .bar-icon{
        display: none;
    }
    .logo{
        .logo-image{
            height: 50px;
            width: 100px;
            padding-left: 40px;
            cursor: pointer;
        }
    }
    .headerlink{
        display: flex;  
        padding: 0 20px;
        font-size: 20px;
        color: gray;

        .h-title{
            padding: 0 10px;
            text-transform: capitalize;
            cursor: pointer;
        }
    }
    .sign-in{
        font-size: 20px;
        padding-right: 20px;
        color:gray;
        cursor: pointer;
    }
    .user-icon{
        display: none;
    }

}
.sidebar{
    width: 100%;
    min-height: 100vh;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
    background-color: #fff;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 1;
    transition: 0.5s;
}
.sidebar.active{
    left: 0;
    transition: 0.5s;
}
.sd-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}
.icon-close{
    fill:orange;
    font-size: 30PX;
    padding-left: 10px;
    cursor: pointer;
}
.sidebar-scroll{
    position: fixed;
    height: 90%;
    width: 100%;
    overflow: scroll;
}
.sidebar-wrapper{
    padding-top: 20px;
    border-bottom: 1px solid lightgrey;
    .sidebar-link{
        display: flex;
        margin-bottom: 20px;
        .icons{
            padding: 0 15px;
            .icon-home{
                fill: gray;
            }
        }
        .text-name{
           color: gray;
           text-transform: capitalize;
        }
    }
}
.sidebar-data{
    padding-top: 20px;
    .data-text{
        padding: 0 20px;
       margin-bottom: 20px;
       text-transform: capitalize;
       color:gray
    }
}