@media screen and (max-width:768px) {
    .header{
        border-bottom: 3px solid black;
        .logo{
            .logo-image{
                height: 40px;
                margin-bottom: 10px;
            }
        }
        
        .headerlink{
            display: none;
        }    
        .bar-icon{
             display: block;
             .icon--bar{
                padding-left: 20px;
                fill: orange;
                font-size: 20px;
             }
        }
        .user-icon{
            display: block;
            .icon--user{
                padding-right: 20px;
                font-size: 20px;
                fill:gray;
            }
        }
        .sign-in
        {
            display: none;
        }
    }

}
