@media screen and (max-width:768px) {
    .form-section{
        display: block;
        .form-wrraper{
            width:85%;
        }
    }
}
@media screen and (max-width:690px) and (min-width:520px){
    .form-section{
        display: block;
        .form-wrraper{
            width:83%;
            margin: 10px 30px;
        }
    }
}
@media  screen and (max-width:520px) {
    .form-section{
        .form-wrraper{
        width:80%;
        margin: 10px 30px;

    }
    
}
}