@media screen and (max-width:768px) {
    .form-section{
        display: block;
        .form-wrraper{
            width:85%;
        }
    }
}
@media  screen and (max-width:500px) {
    .form-section{
        .form-wrraper{
        width:75%;
        margin: 10px 30px;

    }
    
}
}